/******** Google Fonts ********/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/******** Color Schemes ********/

:root {
  --c-primary: #e32330;
  --c-secondary: #241b16;

  --c-text-dark: #161616;
  --c-text-light: #727272;

  --ff-primary: 'Arimo', sans-serif;
  --ff-secondary: 'Audiowide', cursive;
  --ff-tertiary: 'Montserrat', sans-serif;
  --ff-tertiary-alt: 'Poppins', sans-serif;
}

/******** CSS Resets ********/
* {
  padding: 0;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a:focus, a:hover {
  outline: none;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--c-black-text);
  line-height: 18px;
  font-weight: 400;
}

body {
  font-family: var(--ff-primary);
  font-size: 14px;
  color: var(--c-black-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
  margin-bottom: 0;
}

/******** Utility Classes ********/
/*
.container {
  width: 100%;
  max-width: 1360px;
}
*/
.container-fluid {
  padding-right:50px;
  padding-left:50px;
}
.custom-pad {
  padding: 60px 0;
}
/*supriyo-eork-start*/
/*top-section-start*/

.top-section .top-nav li {
  display: inline-block;
  padding:0 10px 0 0;
}
.top-section .top-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.top-section .top-social-icons li {
  display: inline-block;
  padding: 0 0 0 10px;
}
.top-section {
  background-color: #f2f2f2;
  padding: 10px 0;
}
.top-left a {
  font-family: 'Arimo', sans-serif;
  font-weight: 700;
  font-size:14px;
  color:#161616;
  text-decoration: none;
}
.top-nav li a {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size:14px;
  color:#161616;
  text-decoration: none;
}
.top-social-icons li a {
  background-color: #e32330;
  height: 30px;
  width: 30px;
  text-align: center;
  display: inline-block;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
  border-radius: 50px;
}
/*logo-section*/
.logo-login .log-in li {
  display: inline-block;
  padding: 0 10px 0 0;
}
.logo-login {
  display: flex;
  align-items: center;
  justify-content: end;
}
.cart-section li {
  display: inline-block;
  padding: 0 0px 0 0px;
}
.logo-search ul li {
  display: inline-block;
}
.logo-search form input {
  width: 495px;
}
.footer-3-button {
  position: absolute;
}

.log-in li a {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  font-size:16px;
  color:#161616;
  text-decoration: none;
}
.log-in li span {
  color: #e32330;
  font-size: 16px;
}
.cart-section li h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size:16px;
  color:#fff;
  text-decoration: none;
}
.cart-section li span {
  font-size: 16px;
}
.cart-section {
  background-color: #000;
  color: #fff;
  padding: 5px 5px;
}
.logo-section {
  padding: 25px 0;

}
.logo-search #inputPassword2 {
  border-radius: 0px;
  border-radius: 5px 0 0 5px;
}

/*top-section-end*/





/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-start=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
.navbar-default .navbar-toggler .icon-bar {
  background-color: #fff;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-default .navbar-toggler .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-toggler {
  border-color: #5f4b8b;
  background: #5f4b8b;
  outline: none;
}

.navbar-toggler {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-header {
  display: none;
}
.navigation {
  background-color: #000;
  padding: 15px 0;
}
.navigation .navbar-nav.ms-auto.mb-2.mb-lg-0 {
  width: 100%;
}
.navigation .nav-item a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.navigation .dropdown-menu.show li a {
  color: #000;
}





/*=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+toggle-nav-css-end=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/


/*faq-section-start*/

.faq-accordion {
  margin-top: 50px;
}
.faq .accordion-button.collapsed {
  font-family: 'Audiowide', cursive;
  font-size: 20px;
  padding: 20px;
}
.accordion-button:not(.collapsed) {
  font-family: 'Audiowide', cursive;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
.accordion-body {
  font-family: 'Montserrat', sans-serif;
  font-size:15px;
  font-weight:400;
  color: #727272;
}
.faq {
  padding: 50px 0;
}
.bottom-text li {
  display: inline-block;
  padding: 0 10px 0 0px;

}
.bottom-text li a {
  color:#e32330;
  font-family: 'Montserrat', sans-serif;
  font-size:15px;
  font-weight:400;
}
.faq-bottom {
  text-align: center;
  margin-top: 40px;
}





/*faq-section-end*/

/*footer-start*/
.footer-1-text {
  margin-top: 40px;
}
.footer-2-text {
  margin-top: 64px;
}
.footer-3-text {
  margin-top: 40px;
}
.footer-4-text {
  margin-top: 64px;
}
.footer-header {
  position: relative;
}
.footer-header::after {
  position: absolute;
  content: '';
  background-color: #9c9c9c;
  height: 1px;
  width: 70px;
  bottom: -15px;

}
.footer-header h3 {
  font-size: 15px;
  font-family: 'Audiowide', cursive;
  font-weight:400;
  text-transform: uppercase;
}
.footer-1-text li {
  padding: 0 0 20px 0;
}
.footer-2-text li {
  padding: 0 0 20px 0;
}
.footer-3-text li {
  padding: 0 0 20px 0;
}
.footer-4-text li {
  padding: 0 0 20px 0;
}
.footer-1-text li a span {
  padding-right: 10px;
}
.footer-2-text li a span {
  padding-right: 10px;
}
.footer-3-text li a span {
  padding-right: 10px;
}
.footer-4-text li a span {
  padding-right: 10px;
}
.footer-1-text li a {
  text-decoration: none;
  color: #727272;
  font-family:'Arimo', sans-serif;
  font-weight: 400;
  font-size: 15px;

}
.footer-2-text li a {
  text-decoration: none;
  color: #727272;
  font-family:'Arimo', sans-serif;
  font-weight: 400;
  font-size: 15px;

}
.footer-3-text li a {
  text-decoration: none;
  color: #727272;
  font-family:'Arimo', sans-serif;
  font-weight: 400;
  font-size: 15px;

}
.footer-4-text li a {
  text-decoration: none;
  color: #727272;
  font-family:'Arimo', sans-serif;
  font-weight: 400;
  font-size: 15px;

}
.footer-1-text li a span {
  padding-right: 10px;
  color: #e32330;
  font-size: 18px;
}
.footer-2-text li a span {
  padding-right: 10px;
  color: #e32330;
  font-size: 18px;
}
.footer-3-text li a span {
  padding-right: 10px;
  color: #e32330;
  font-size: 18px;
}
.footer-4-text li a span {
  padding-right: 10px;
  color: #e32330;
  font-size: 18px;
}
.footer-wrap {
  padding: 50px 0 0;
  background-color: #f2f2f2;
}
.footer-5 iframe {
  width: 100%;
  height: 220px;
  margin-top: 40px;
}

.copyright-icons li {
  display: inline-block;
  padding: 0 0px 0 10px;
}
.copyright-icons li a {
  background-color: #e32330;
  height: 30px;
  width: 30px;
  text-align: center;
  display: inline-block;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
  border-radius: 50px;
}
.copyright-right {
  text-align: right;
}
.copyright {
  background-color: #dadada;
  padding: 15px 0;
  margin-top: 50px;
}
.copyright-left h4 {
  font-size: 15px;
  color: #727272;
  font-family:'Arimo', sans-serif;
  font-weight: 400;
}



/*footer-end*/
/*supriyo-work-end*/